body {
    background-color: #0c131f;
    font-family: 'Lato', sans-serif;

}
.app {
    background: #212b3c;
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 10px;
    color: #DDE1E7;
}
header {
    border-bottom: 1px solid #0c131f;
    padding: 0 0 30px 0;
}
a {
    color: #717b91;
}

.search-form-input {
    background-color: #0c131f;
    border: none;
    border-radius: 6px;
    width: 80%;
    padding: 15px 20px;
    font-size: 16px;
    color: #DDE1E7;
}
.search-form-button {
    /* background-color: #243f6e; */
    background-color: #5d6982;
    padding: 15px 20px;
    border:  none;
    color: #DDE1E7;
    border-radius: 6px;
    font-size: 16px;
    margin-left: 5px;
    transition: all 150ms ease-in-out;
}
.search-form-button:hover {
    background-color: #313a4e;
    cursor: pointer;
}
main {
    padding: 30px 0;
}
.parameters-color{
    color: #C4C9D4;
    font-size: 17px;
}
.weather-app-data {
    display: flex;
    justify-content: space-between;
}
.weather-app-city {
    font-size: 38px;
    line-height: 48px;
    margin: 0;
}
.weather-app-details{
    font-size: 16px;
    line-height: 24px;
    color: #737987;
}
.weather-app-container {
    display: flex;
}
.weather-app-icon {
width: 100px;
height: 100px;
margin-top: 20px;
/* margin-left: 22px; */
}
.weather-app-temperature{
    font-size: 88px;
    line-height: 88px;
    font-weight: bold;
    margin-top: 20px;
}
.weather-app-unit{
    font-size: 30px;
    margin-top: 20px;
    margin-right: 50px;
}
.weather-app-details {
    background: #313a4e;
    max-width: 300px;
    margin: 15px auto;
    padding: 15px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 10px;
}
.weather-forecast {
    margin-top: 20px;
    background: #313a4e;
    max-width: 600px;
    padding: 15px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.weather-forecast-date {
    font-size: 16px;
    color: #DDE1E7;
    text-align: center;
}
.weather-forecast-temperature {
    font-size: 13px;
    text-align: center;
    /* margin-top: 10px; */
    display: flex;
    justify-content: center;
}
.weather-forecast-icon {
    font-size: 20px;
    text-align: center;
  }
.weather-forecast-temperature-min {
    color: #717b91;
}
footer {
    border-top: 1px solid #0c131f;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}